<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <title>AI-Corazón</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="nav__logo">AI-Corazón</div>
        <ul class="nav__links">
          <li class="link"><a href="{{ url_for('home') }}">Home</a></li>
          <li class="link"><a href="{{ url_for('predict') }}">Prediction</a></li>
          <li class="link"><a href="{{ url_for('visualize') }}">Visualize</a></li>
          <li class="link"><a href="{{ url_for('retrain') }}">Retrain</a></li>
        </ul>
        <button class="btn" onclick="window.location.href='{{ url_for('retrain') }}'">Get Started</button>
      </nav>
      <header class="header">
        <div class="content">
          <h1><span>Get Info</span><br />Heart Diseases</h1>
          <p>
            In today's world, Heart disease remains the leading cause of death
            globally, accounting for 32% of all deaths. This AI-powered web app
            enables early diagnosis, improving timely intervention and reducing
            risks. Advanced technology, lifestyle changes, and healthcare access
            are key to combating this growing epidemic effectively.
          </p>
          <button class="btn" onclick="window.location.href='{{ url_for('predict') }}'">Predict</button>
        </div>
        <div class="image">
          <span class="image__bg"></span>
          <img src="{{ url_for('static', filename='Assets/Doc_1.png') }}" alt="header image" id="headerImage" />
          <div class="image__content image__content__1">
            <span><i class="ri-user-3-line"></i></span>
            <div class="details">
              <h4 id="clientCounter">1520+</h4>
              <p>Active Users</p>
            </div>
          </div>
          <div class="image__content image__content__2">
            <ul>
              <li>
                <span><i class="ri-check-line"></i></span>
                Get info about your health.
              </li>
              <li>
                <span><i class="ri-check-line"></i></span>
                Get faster Heart Diagnosis.
              </li>
            </ul>
          </div>
        </div>
      </header>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
